# Patient service
DB_SERVER=
DB_PASSWORD=
DATABASE=
DB_PORT=
DB_USER=

# Notification service
RESEND_API_KEY=
DOMAIN_NAME=

# Payment wrapper service
STRIPE_SECRET_KEY=

# Teleconferencing wrapper service
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WRAPPER_PORT=5006
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/