# Patient service
DB_SERVER=
DB_PASSWORD=
DATABASE=
DB_PORT=
DB_USER=

# Notification service
RESEND_API_KEY=
DOMAIN_NAME=

# Payment wrapper service
STRIPE_SECRET_KEY=
STRIPE_WRAPPER_PORT=

# Teleconferencing wrapper service
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_WRAPPER_PORT=

# Prescription Service
OUTSYSTEMS_PRESCRIPTION_API_URL=

# ngrok
NGROK_AUTHTOKEN=